body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.reseau {
  background-color: rgb(33, 1, 75);
}

.header {
  background-image: url("/client/src/asset/banniere.jpg");
  background-size: cover;
}

.titlepage {
  line-height: 200px;
  background: #081d33;
  color: aliceblue;
  position: relative;
  align-content: center;
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  text-align: center;
}
