p {
  margin-bottom: 2rem;
}

.ul-img:hover {

  transition-property: transform, opacity;
  transition-duration: .5s;
  opacity: .9;
  transform: scale(1.05);
}

.background-item-image {
  background-color: whitesmoke;
}

div.title {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 2rem;
}
