p {
  margin-bottom: 2rem;
}

.ul-img:hover {

  transition-property: transform, opacity;
  transition-duration: .5s;
  opacity: .9;
  transform: scale(1.05);
}

.background-item-image {
  background-color: whitesmoke;
}

div.title {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width:1200px) {
  .imgBan {
    margin-top: -5%;
  }
}
@media (max-width:992px) {
  .imgBan {
    margin-top: -5%;
  }
}
@media (max-width:768px) {
  .imgBan {
    margin-top: -20%;
  }
}
