productImg {
  width: 100%;
  height: auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.caroussImg {

  margin-top: -2%;
}

.nameGun p {
  font-size: 3em;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  background-color: rgba(25, 51, 201, 0.123);
}
